.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

h1 {
    font-family: 'Krona One', sans-serif;
    color: #eee;
    display: flex;
    align-self: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px
}
h1 span {
    color: #15ff00;
}

th, td{
    font-size: 14px;
}

img {
    height: 100px;
    width: 100px
}

.form-button {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #51f200 5%, #72b352 100%);
	background-color:#51f200;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.form-button:hover {
	background:linear-gradient(to bottom, #72b352 5%, #51f200 100%);
	background-color:#72b352;
}
.form-button:active {
	position:relative;
	top:1px;
}
.form-button1 {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.form-button1:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.form-button1:active {
	position:relative;
	top:1px;
}

        

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: 0.6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}
