h1 {
    font-family: 'Krona One', sans-serif;
    color: #eee;
    display: flex;
    align-self: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px
}
h1 span {
    color: #15ff00;
}