h1 {
    color: blue;
    display: flex;
    align-self: center;
}

.drinkContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-self: center;
    border: 2px solid green
}

.cardContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-self: center;
    border: 2px solid red
}

