.signup-container {
    text-align: center;
}
.signup-container h1 {
    margin-top: 10px;
}
.signup-form {
    margin-top: 25px;
}
.form-style {
    margin: 10px 10px;
    width: 35%;
    height: 2.5rem;
    border-width: 0 0 2px;
    outline: 0;
    font-size: 16px;
}
.filled {
    border-color: green;
}
.form-style:focus {
    border-color: red;
}

.form-button-valid {
    background-color: green;
}
.invalid:focus {
    border-color: red;
}
.invalid {
    border-color: red;
}
.invalid-message {
    color: red;
}

.form-button {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #51f200 5%, #72b352 100%);
	background-color:#51f200;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.form-button:hover {
	background:linear-gradient(to bottom, #72b352 5%, #51f200 100%);
	background-color:#72b352;
}
.form-button:active {
	position:relative;
	top:1px;
}
