* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.1)
        ),
        /* url('/images/barback.jpg') center no-repeat; */
            url('/images/good.jpg') center no-repeat;
    /* background-image: url('/images/good.jpg'); */
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
